<?xml version='1.0' encoding='utf-8'?>
<widget id="com.element.cordova.face.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Face Demo</name>
    <description>
        A sample Apache Cordova application that uses Element Face Demo SDK
    </description>
    <author email="dev@discoverelement.com" href="http://www.discoverelement.com">
        Element
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="assets/android/mdpi.png" />
        <icon density="hdpi" src="assets/android/hdpi.png" />
        <icon density="xhdpi" src="assets/android/xhdpi.png" />
        <icon density="xxhdpi" src="assets/android/xxhdpi.png" />
        <splash density="port-hdpi" src="assets/android/splash_screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="element-face-sdk" spec="../element-cordova-face-plugin" />
    <engine name="android" spec="^8.0.0" />
</widget>
